#contents {
    .boxes-container {
        .contentBox {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            text-align: center;
            padding: 1rem;
            margin: 1rem;
            box-sizing: border-box;
            // border-radius: 50%;
            
            // .title  {
            //     font-size: 1.3rem;
            // }
            // .info  {
                
            // }
        }
    }
}
